:root {
    --orange: #f4941d;
    --green: #64bc54;
    --purple: #642e75;
    --yellow: #fccc16;
    --navy: #0c3655;
    font-size: 20px;
  }

  body {
    font-family: 'Open Sans', sans-serif; 
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: [start] 100% [end];
    grid-template-rows: [header-start] 17% [header-end main-start] auto [main-end footer-start] 3.5rem [footer-end];
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  /* main grid */

  main {
    grid-column: start / end;
    grid-row: main-start / main-end;
  }

  /* Header */
  header {
    display: flex;
    justify-content: center;
    grid-column: start / end;
    grid-row: header-start / header-end;
  }

  #org-name {
    font-size: 2rem;
    margin-top: 10px;
    font-weight: 800;
    color: var(--orange);
  }

    /* Footer */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: var(--orange);
    grid-column: start / end;
    grid-row: footer-start / footer-end;
  }

  #footer-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }

  #footer-list li {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer-icon i{
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .footer-icon p {
    font-size: .85rem;
  }

  .page-selected {
    color: var(--navy);
  }

  /* main */
  #main {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
  }

 /* homepage: */

/* homepage img ul */
  #homepage-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .homepage-image-contain {
    width: 33.3333333333%;
  }

/* homepage img lis */
  .homepage-image {  
    width: 100%;

  }

  /* about us */

  #about-us {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 2rem;
  }

  #about-us-title {
    color: var(--navy);
    padding-left: 4rem;
    padding-bottom: 7px;
    width: 9.2rem;
    border-bottom: var(--navy) 2px solid;
    margin-bottom: 20px;
  }

  #about-us-text-contain {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #about-us-text {
    width: 85%;
    line-height: 1.4rem;
  }

  /* copyright - change position to abs, if not enough content*/

  #copyright {
    margin-top: 1rem;
    position: relative;
    bottom: 0;
    font-size: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
